<h2 class="content-block">ข้อมูลจังหวัด</h2>
<div class="content-block dx-card responsive-paddings">
    <dx-data-grid [dataSource]="dataSource" noDataText="ไม่มีข้อมูล" [showRowLines]="true" [showBorders]="true">
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..."></dxo-search-panel>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true"></dxo-pager>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column dataField="" caption="ดำเนินการ" [width]="150" alignment="center" [allowSorting]="false"
            cellTemplate="cellTemplateCommand"></dxi-column>
        <div *dxTemplate="let d of 'cellTemplateCommand'">
            <dx-button icon="edit" hint="แก้ไข" type="default" (onClick)="Edit(d)">
            </dx-button>
            <dx-button icon="trash" hint="ลบ" type="default" (onClick)="Delete(d)">
            </dx-button>
        </div>
        <dxi-column dataField="" caption="ลำดับที่" [width]="80" alignment="center" [allowEditing]="false"
            cellTemplate="cellTemplate"></dxi-column>
        <dxi-column dataField="PROVINCE_NAME_THA" caption="ชื่อจังหวัด" alignment="center">
        </dxi-column>
        <dxi-column dataField="PROVINCE_NAME_ENG" caption="ชื่อจังหวัดอังกฤษ" alignment="center">
        </dxi-column>
        <dxi-column dataField="RECORD_STATUS" caption="สถานะการใช้งาน" [width]="130" alignment="center"
            [calculateDisplayValue]="GetStatus">
        </dxi-column>
        <div *dxTemplate="let cell of 'cellTemplate'">
            {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}
        </div>
    </dx-data-grid>
</div>

<dx-popup [width]="800" [height]="350" title="แก้ไขข้อมูล" [(visible)]="popupVisible" [closeOnOutsideClick]="true">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <dx-form [formData]="province" [colCount]="2">
                <dxi-item dataField="PROVINCE_NAME_THA" editorType="dxTextBox"
                    [editorOptions]="{ placeholder:'ชื่อจังหวัดภาษาไทย',showClearButton:true }">
                    <dxo-label text="ชื่อจังหวัดภาษาไทย"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณากรอก ชื่อจังหวัดภาษาไทย">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="PROVINCE_NAME_ENG" editorType="dxTextBox"
                    [editorOptions]="{ placeholder:'ชื่อจังหวัดภาษาอังกฤษ',showClearButton:true }">
                    <dxo-label text="ชื่อจังหวัดภาษาอังกฤษ"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณากรอก ชื่อจังหวัดภาษาอังกฤษ">
                    </dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="RECORD_STATUS" editorType="dxRadioGroup" [editorOptions]="{value: statusFlag,
                    items:radioActive, valueExpr:'id', displayExpr:'text',
                    layout:'horizontal'}">
                    <dxo-label text="สถานะการใช้งาน"></dxo-label>
                    <dxi-validation-rule type="required" message="กรุณาเลือก สถานะการใช้งาน">
                    </dxi-validation-rule>
                </dxi-item>
            </dx-form>
            <div style="text-align: center;">
                <dx-button stylingMode="contained" text="ยืนยัน" type="success" [width]="120" (onClick)="save()">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>